CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
CMakeSettings.json
Testing
Makefile
XYModem/examples/ressources/
.vscode
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.DS_Store
build
.vs
